body, html {
	/*font: 90%/160% Arial, Helvetica, sans-serif;*/
	margin: 0;

}


/* меню */

header{
	font-size: 14px;
	width: 1040px;
	max-width: 96%;
	margin: 0 auto;
	height: 70px;	
}

.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}

.projects{
	margin-left: 20px;
}

.nav a {
	text-align: center;
	padding: 3px 12px;
	display: inline-block;
	text-decoration: none;
	color: black;
	line-height: 30px;
}

/* меню справа */
.nav.right ul {
	text-align: right;
}

#go, #go1{
	width: 130px;
	height: 30px;
	line-height: 100%;
	border: 2px solid white;
	margin-left: 50px;
	line-height: 30px;
}

#go:hover, #go1:hover{
	background-color: white;
	color: #404046;
}

#header{
	background-color: #fff;
}

#LOGO{
	font-size: 20px;
	color:white;
	float: left;
	margin: 15px 0;
}