html body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #1abc9c;
}


/* меню */

header{
	font-size: 14px;
	width: 1600px;
	max-width: 96%;
	margin: 0 auto;
	height: 84px;	
}

.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	
	line-height: 84px;
	font-size: 20px;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline;

}

.projects{
	margin-left: 20px;
}

.nav a {
	margin:0 0 0 70px;
	text-align: center;
	padding:0;
	display: inline-block;
	text-decoration: none;
	color: black;
	line-height: 30px;
}

/* меню справа */
.nav.right ul {
	text-align: right;
}

#header{
	background-color: #fff;
}

#logo{
	line-height: 84px;
	font-size: 44px;
	color:black;
	font-weight: bold;
	float: left;
	margin:0;
}

#plus{
	color: #1abc9c;
}

#content{
	max-width: 96%;
	width: 1600px;
	margin: 0 auto;
}

#content img{
	width: 205px;
	height: 435px;
	margin: 60px 170px 0 270px;
	float: left;
}

#text #titleProject{
	font-size: 45px;
	font-weight: bold;
	padding: 140px 0 0 0;
	margin-bottom: 65px;
}

#text #aboutProject{
	font-size: 20px;
	margin: 0;
	line-height: 30px;
}

#text{
	color: white;
}

#text #buy_now{
	width: 135px;
	height: 45px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	margin: 55px 0 95px 0;
	background-color:#1abc9c ;
}

#whiteBlock{
	height: 400px;
	background-color: white;
	margin-top: 0;
	padding-top: 30px;
	/*width: 1600px;
	margin: 85px auto;*/
}

.het{
	color:#1abc9c;
	font-size: 130px;
	margin-bottom: 45px;
}

 #whiteBlock .title{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#whiteBlock .all p{
	font-size: 18px;
	margin-top: 45px;
}

.all{
	position:relative;
	/*margin: 0 auto;
	width: 1706px;*/
	width: 1600px;
	margin: 0 auto;
}
#one{
	float:left;
	width:33.33%;
	height:50px;
	text-align: center;
}
#two{
	float:left;
	width:33.33%;
	height:50px;
	text-align: center;
}
#three{
	float:left;
	width:33.33%;
	height:50px;
	text-align: center;
}


/* contact us */

#contact_us{
	color:white;
	text-align: center;
}

#Tcontact_us{
	font-size: 35px;
	margin: 70px 0 60px 0 ;
}

#contact_us input{
	width: 590px;
	height: 50px;
	font-size: 20px;
	margin: 0 0 10px 0;
	padding-left: 10px; 
}

#contact_us #submit{
	margin: 65px 0;
	width: 245px;
	height: 50px;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
	background: none;
	font-size: 20px;

}

#coments{
	width: 590px;
	font-size: 20px;
	height: 120px;
	padding-left: 10px; 
}


input::-webkit-input-placeholder {
    color: #757575;
   } 
textarea::-webkit-input-placeholder {
    color: #757575;
	font-family: "Open Sans";
    }
textarea::-moz-placeholder{
	color:#757575;
	font-family: "Open sans";
	}/* Firefox 19+ */
input::-moz-placeholder{
	color:#757575;
	font-family: "Open sans";
	}/* Firefox 19+ */
