
html body{
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

#header{
	height: 50px;
	width: 100%;
	background: #334D5C;
	color: white;
	position: fixed;
	top: 0;
}

#title{
	margin: 100px 0 50px 0;
	font-size: 35px;
}

.layout { 
	width: 1020px; 
	margin: auto;
	height: 2000px; 
}

.nav, .content, .sidebar { 
	float: left;
	height: 100%;
  }

.nav { 
  	width: 180px; 
  	background: #e6e6e6;  
 }

 .content { 
	margin-left: 20px;
	width: 600px; 
	background: none; 
}

.sidebar { 
	margin-left: 20px;
	width: 200px; 
	background: #e6e6e6;  
}

#footor{
	/*width: 1920px;*/
	width: 100%;
	height: 50px;
	background-color:#334D5C;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0; 
}